/* Reset básico e fundo */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #003049;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

/* Header fixo e simples */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e0f7ff;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #005f8c;
    z-index: 10;
    border-bottom: 2px solid #bde0fe;
}

/* Container central */
.container {
    width: 70%;
    height: 70vh;
    margin: 20vh auto 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 60vw;
}

/* Formulário */
.form-label {
    font-weight: 500;
    color: #005f8c;
}

.form-control {
    border: 1px solid #a8dadc;
    background-color: #ffffff;
    color: #003049;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.form-control:focus {
    outline: none;
    border-color: #89c2d9;
}

/* Botão */
.btn-primary {
    background-color: #89c2d9;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #003049;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #61a5c2;
}

/* Footer com imagem */
footer {
    position: relative;
    width: 100%;
    background-color: #e0f7ff;
    color: #005f8c;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0px solid #bde0fe;
    z-index: 5;
    height: 0px;
}

footer .subzero-mini {
    position: absolute;
    right: 20px;
    bottom: 5px;
    height: 400px;
    pointer-events: none;
    z-index: 6;
}
